.navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link.active {
  color: white;
}
}

.navbar-nav .nav-link:hover {
  color: grey;
}

body{
font-family: 'Whitney SSm A', 'Whitney SSm B', Helvetica, Arial, sans-serif;
}