 body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;

            margin: 0;
        }

h1 {
       text-align: center;
       margin-bottom: 30px;
 }

form {
        max-width: 500px;
        margin: 0 auto;
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }

.form-group {
        margin-bottom: 100px;
        padding-bottom: 10px;
   }

label {
     font-weight: bold;
    }

textarea {
       resize: vertical;
 }

#price_change {
     font-weight: bold;
}

button[type="submit"] {
     display: block;
     width: 100%;
     padding: 10px 0;
     background-color: #007bff;
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
  }

        /* Custom dropdown arrow */
select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath fill='%23333' d='M6 7.4L0.6 2 2 0.6l4 4 4-4L11.4 2 6 7.4z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 0.7em top 50%, 0 0;
      background-size: 0.65em auto, 100%;
      padding-right: 1.5em;
        }
        select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath fill='%23333' d='M6 7.4L0.6 2 2 0.6l4 4 4-4L11.4 2 6 7.4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  padding-right: 1.5em;


.flash-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flash-content {
  text-align: center;
}

.flash-message {
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
}
.navbar-nav .nav-link {
  color: white;
}
.nav-link active{
  color: white;
}

.navbar-nav .nav-link:hover {
  color: grey;
}
.nav-item{
color}


