.navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link.active {
  color: white;
}
.navbar-nav .nav-link:hover {
  color: grey;
}
  .phone-link {
            text-decoration: none;
            color: #000;
        }
        body{
font-family: 'Whitney SSm A', 'Whitney SSm B', Helvetica, Arial, sans-serif;
}
 @font-face {
          font-family: 'Whitney SSm A';
          src: url('path/to/whitney-ssm-a.woff2') format('woff2'),
               url('path/to/whitney-ssm-a.woff') format('woff');
        }

        @font-face {
          font-family: 'Whitney SSm B';
          src: url('path/to/whitney-ssm-b.woff2') format('woff2'),
               url('path/to/whitney-ssm-b.woff') format('woff');
        }
         body.dark-mode .btn
  {
  background-color: #333333;

  border: 1px solid #444444;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  color:white;}
  body.dark-mode input[type="submit"] {
  background-color: #bb86fc;
  color: #121212;
  border: none;
  cursor: pointer;
}
body.dark-mode .btn-danger-gradiant {
  background-color: #bb86fc;
  color: #121212;
  border: none;
  cursor: pointer;
}

body.dark-mode .btn:hover {
  background-color: #9a67ea;
}

 body.dark-mode {
    background-color:  #2c2c2c;
    color: #ffffff;
  }

  .card-body.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
  }

  .form-control.dark-mode {
    background-color:  #2c2c2c;
    color: #ffffff;
    border: 1px solid #555555;
  }

  .btn.btn-danger-gradiant.dark-mode {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    border: none;
  }

  .flash-message-container.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
  }

  .phone-link.dark-mode {
    color: #2c2c2c;
  }
  body.dark-mode .card-body,
  body.dark-mode .col-lg-4{
  background-color: #2c2c2c;
  color:white;
  }

  .contact-box.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
  }

  .feature.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
  }

  /* Social media icons */
  .social-media-link.dark-mode img {
    filter: invert(1);
  }
  body.dark-mode h6 !important{
  color:white;}