body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../images/dog-img.jp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    flex: 1;
    margin-left: 7%;
    width: 40%;
    margin-top: 30px;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
.navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link.active {
  color: white;
}

.event-details {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    color: #333333;
}

.event-details:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.big-image {
    width: 90%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 8px;
    margin-left: 25%;
    color: #333333;
}

p {
    font-size: 16px;
    margin-bottom: 8px;
    color: #666666;

}

.btn {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    margin-left:25%;
}

.btn-dark {
    background-color: #343a40;
    color: #ffffff;
    border: none;
}

.btn-dark:hover {
    background-color: #23272b;
}


.navbar-nav .nav-link:hover {
    color: grey;
}
  .parent {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
       animation: scroll 1s ease-in-out;/* Adjust the gap between child divs */
    }

    .child {
      width: calc(50% - 40px); /* 25% width for each child div with 10px gap */

      padding: 20px;
      box-sizing: border-box;
      margin-bottom: 10px;
      transition: transform 0.3s, box-shadow 0.3s;
    }

    /* Adjust child div width for responsive layout */
    @media (max-width: 768px) {
      .child {
        width: calc(50% - 10px);
      }
    }

    @media (max-width: 480px) {
      .child {
        width: 100%;
      }
    }