body {
  font-family: 'Whitney SSm A', 'Whitney SSm B', Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
 @font-face {
          font-family: 'Whitney SSm A';
          src: url('path/to/whitney-ssm-a.woff2') format('woff2'),
               url('path/to/whitney-ssm-a.woff') format('woff');
        }

        @font-face {
          font-family: 'Whitney SSm B';
          src: url('path/to/whitney-ssm-b.woff2') format('woff2'),
               url('path/to/whitney-ssm-b.woff') format('woff');
        }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.event {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.event img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.event h2 {
  color: #333;
}

.event p {
  color: #777;
  margin-bottom: 10px;
}
.navbar-nav .nav-link:hover {
  color: grey;
}
.navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link.active {
  color: white;
}
.cta-section {
  background-color: #333;
  padding: 40px;
  text-align: center;
}

.cta-section h2 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #ccc;
}
footer {
  background-color: #021f16;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
}
   .event:hover {
      transform: scale(1.50);
    }
a{
text-decoration: none;
}
