  body {
      font-family: Arial, sans-serif;
      background-color:
    }
    h1 {
      text-align: center;
      margin-top: 40px;
      color: #333;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      max-width: 900px;
      margin: 0 auto;
      margin-top: 40px;
    }
    .image {
      width: 400px;
      height: 300px;
      object-fit: cover;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
    }
    .image:hover {
      transform: scale(1.50);
    }
    .image1:hover {
      transform: scale(2);
    }
    .description {
      margin-top: 10px;
      text-align: center;
      color: #777;
    }
    .navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link.active {
  color: white;
}
.navbar-nav .nav-link:hover {
  color: grey;
}