body{
font-family: 'Whitney SSm A', 'Whitney SSm B', Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: grey;
}

.navbar-nav .nav-link.active {
  color: white;
}
 @font-face {
          font-family: 'Whitney SSm A';
          src: url('path/to/whitney-ssm-a.woff2') format('woff2'),
               url('path/to/whitney-ssm-a.woff') format('woff');
        }

        @font-face {
          font-family: 'Whitney SSm B';
          src: url('path/to/whitney-ssm-b.woff2') format('woff2'),
               url('path/to/whitney-ssm-b.woff') format('woff');
        }

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}

.navbar {
  margin-bottom: 20px;
}