<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add previous event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../static/images/newohana.PNG" type="image/png">
    <link href="https://your-font-service.com/fonts/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
        }

        .navbar {
            background-color: #021f16;
        }

        .navbar-nav .nav-link {
            color: white;
        }

        .navbar-nav .nav-link.active {
            color: white;
        }

        h1, p, a, h2, li, label {
            font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
        }

        .form-group label {
            font-weight: bold;
        }
    </style>
</head>
<body>
{% include "adminheader.html" %}

<div class="container mt-4">
    <h2>Add new event</h2>
    <form action="{{ url_for('addprevious') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="eventname">Event Name</label>
            <input type="text" name="prevname" class="form-control" id="eventname">
        </div>
       <div class="form-group">
            <label for="date">Date</label>
            <input type="date" name="date" class="form-control" id="date">
        </div>

        <div class="form-group">
            <label for="diamond">Location</label>
            <input type="text" name="Location" class="form-control" id="diamond">
        </div>
          <div class="form-group">
            <label for="details">Details</label>
             <textarea type="text"  style="height: 150px; width: 100%;" name=details class="form-control" id="details"></textarea>
        </div>
        <div class="form-group">
            <label for="description">Event Description</label>
            <textarea style="height: 150px; width: 100%;" type="text" name="description"
                      class="form-control" id="description"></textarea>
        </div>

        <div class="form-group">
            <label for="img">Select image 1:</label>
            <input type="file" name="image" id="img" class="form-control-file">
        </div>
        <div class="form-group">
            <label for="img">Select image 2:</label>
            <input type="file" name="image1" id="img1" class="form-control-file">
        </div>
        <div class="form-group">
            <label for="img">Select image 3:</label>
            <input type="file" name="image2" id="img2" class="form-control-file">
        </div>
        <div class="form-group">
            <label for="img">Add the embed src to the video</label>
            <input type="text" name="vide" id="img3" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>