 <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>All booked</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="../static/images/newohana.PNG" type="image/png">
  <link rel="stylesheet" href="../static/css/allbooked.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://your-font-service.com/fonts/css/style.css" rel="stylesheet">

</head>
<body>
{% include "adminheader.html" %}


  <table>
    <thead>
      <tr>
        <th>book id</th>
        <th>event name</th>
          <th>username</th>
          <th>phone number</th>
          <th>Email</th>
          <th>booked date</th>
          <th>booked for</th>
          <th> Delete</th>

      </tr>
    </thead>
    <tbody>
{% for b in books %}
  <tr>
    <form action="/delete/{{ b.id }}" method="POST">
    <td>{{ b.id }}</td>
    <td>{{ b.event.name }} </td>
    <td>{{ b.user.first_name }} {{ b.user.last_name }}</td>
    <td>{{ b.user.phone_number }}</td>
    <td>{{ b.user.email }}</td>
    <td>{{ b.booked_date }}</td>
    <td>{{ b.booked_for }}</td>

    <td><button type="submit">Delete</button></td>
    </form>

  </tr>
{% endfor %}
      <!-- Add more rows as needed -->
    </tbody>
  </table>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>