<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <link rel="icon" href="../static/images/newohana.PNG" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/contact.css">
  <script src="https://kit.fontawesome.com/3259a3ed9a.js" crossorigin="anonymous"></script>
  <style>

  </style>
</head>
<body>
{% if is_logged_in %}
<nav class="navbar navbar-expand-lg bg-body-#021f16" style="background-color: #021f16;">
  <div class="container-fluid">
      <a href="{{ url_for('home') }}"><img  style="width: 60px; " src="../static/images/newohana.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('event') }}">Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('booked') }}">Mybooking</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="{{ url_for('book') }}">Book</a>
        </li>
               <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About us</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contact us</a>
        </li>
            <li class="nav-item">
          <a class="nav-link" href="{{ url_for('testimonials') }}">Testimonials</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('whatwedid') }}">Previous Events</a>
        </li>
              <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>




      </ul>

    </div>
  </div>
</nav>



{% else %}
<nav class="navbar navbar-expand-lg bg-body-#021f16" style="background-color: #021f16;">
  <div class="container-fluid">
    <a href="{{ url_for('home') }}"><img  style="width: 60px; " src="../static/images/newohana.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('event') }}">Event</a>
        </li>

                <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
        </li>
               <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About us</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contact us</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('testimonials') }}">Testimonials</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('whatwedid') }}">Previous Events</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="{{ url_for('blog') }}">Our Blogs</a>
        </li>
              <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
        </li>




      </ul>

    </div>
  </div>
</nav>

{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info flash-message-container shadow-lg rounded" role="alert">
      <ul class="list-unstyled flash-message-list">
        {% for message in messages %}
          <li class="flash-message-item">{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}
<div class="col-lg-12">
          <div class="card mt-4 border-0 mb-4">
            <div class="row">
              <div class="col-lg-4 col-md-4">
                <div class="card-body d-flex align-items-center c-detail pl-0">
                  <div class="mr-3 align-self-center">
                    <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon1.png">
                  </div>
                  <div class="">
                    <h6 class="font-weight-medium">Address</h6>
                    <p class="">601 Sherwood Ave.
                      <br> San Bernandino</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="card-body d-flex align-items-center c-detail">
                  <div class="mr-3 align-self-center">
                    <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon2.png">
                  </div>
                  <div class="">
                    <h6 class="font-weight-medium">Phone</h6>
                    <a href="tel:+1234567890" class="phone-link" style="display:block;">Click to Call: +1 234-567-890</a>
                    <a href="tel:+1234567890" class="phone-link">Click to Call: +1 234-567-890</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="card-body d-flex align-items-center c-detail">
                  <div class="mr-3 align-self-center">
                    <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon3.png">
                  </div>
                  <div class="">
                    <h6 class="font-weight-medium">Email</h6>
                    <p class="">
                      info@wrappixel.com
                      <br> 123@wrappixel.com
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="contact3 py-5">
  <div class="row no-gutters">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="card-shadow">
            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/2.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="contact-box ml-3">
            <h1 class="font-weight-light mt-2">Quick Contact</h1>
            <form class="mt-4" method="post" action="/contact">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group mt-2">
                    <input class="form-control" type="text" placeholder="name"  name="name" required>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group mt-2">
                    <input class="form-control" type="email" placeholder="email address" name="email" required>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group mt-2">
                    <input class="form-control" type="text" placeholder="phone" name="phone" required>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group mt-2">
                    <textarea class="form-control" rows="3" placeholder="message" name="message" required></textarea>
                  </div>
                </div>
                <div class="col-lg-12">
                  <button type="submit" class="btn btn-danger-gradiant mt-3 border-0 px-3 py-2"><span> SUBMIT</span></button>
                </div>
              </div>
            </form>
          </div>
        </div>

</div>
      <a href="https://www.tiktok.com/ohana" style="position: fixed; top: 30%; right: 20px;"><img src="../static/images/tittok.png" style="width: 40px; height: 40px;border-radius: 50%;" alt="Twitter"></a>

       <a href="https://www.instagram.com/ohana" style="position: fixed; top: 39%; right: 20px;"><img src="../static/images/instagram.jpg" style="width: 40px; height: 40px;border-radius: 50%;" alt="Instagram"></a>
  <a href="https://www.linkedin.com/ohana" style="position: fixed; top: 47%; right: 20px;"><img src="../static/images/facebook.png" style="width: 40px; height: 40px;" alt="LinkedIn"></a>
 <a href="https://www.linkedin.com/ohana" style="position: fixed; top: 55%; right: 20px;"><img src="../static/images/youtube.png" style="width: 40px; height: 40px; border-radius: 50%;" alt="LinkedIn"></a>


  <!-- Optional JavaScript dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>