

<section class="cta-section" style="margin: 0px;display:block;background-color: #021f16;">
    <h2>Ready to book your event?</h2>
    <a class="cta-button" href="{{ url_for('book') }}">Book an event Now</a>
  </section>
    {% include "socialmediaicons.html" %}


 <div class="parent" style="background-color:#021f16;">

		<div class="col-md footer-two child">
		    <h5>Information </h5>
		    <ul>

									<li><a href="{{ url_for('contact') }}">Contact</a></li>
									<li><a href="{{ url_for('testimonials') }}">Testimonials</a></li>

									<li><a href="{{ url_for('about') }}">Partners</a></li>
								</ul>
		</div>
		<div class="col-md footer-three child">
		    <h5>Helpful Links </h5>
		    <ul>

									<li><a href="{{ url_for('contact') }}">contact</a></li>
									<li><a href="{{ url_for('testimonials') }}">Testimonials</a></li>
									<li><a href="{{ url_for('whatwedid') }}">Careers</a></li>
									<li><a href="{{ url_for('partners') }}">Partners</a></li>
								</ul>
		</div>

</div>
		<div class="clearfix"></div>
	</div>
</div>
   <footer style="display: block;">
    <p>&copy; {{ year }} OHANA. All rights reserved.</p>
  </footer>
</div>