<nav class="navbar navbar-expand-lg bg-body-#021f16" style="background-color: #021f16;">
  <div class="container-fluid">
    <a href="{{ url_for('home') }}"><img  style="width: 60px; " src="../static/images/newohana.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('event') }}">Event</a>
        </li>

                <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
        </li>
               <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About us</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contact us</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('testimonials') }}">Testimonials</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('whatwedid') }}">Previous Events</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="{{ url_for('blog') }}">Our Blogs</a>
        </li>
              <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
        </li>
             <li class="nav-item" >
                        <button id="toggle-dark-mode" style="width: 40px;margin-left:10%;margin-right: 5%;"><img style="width: 40px;margin-right: 10%;" src="../static/images/download.png"></button>

        </li>




      </ul>

    </div>
  </div>
</nav>
