<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Partners</title>
  <link href="https://your-font-service.com/fonts/css/style.css" rel="stylesheet">

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/partners.css">
  <link rel="icon" href="../static/images/newohana.PNG" type="image/png">
  <style>
    body.dark-mode{
    background-color:black;
    color:white;
    }
    body.dark-mode .mb-md-5 !important
    {
    color:white;
    }
  </style>
</head>
<body >
{% if is_logged_in %}
{% include "headerloggedin.html" %}

{% else %}
{% include "headerloggedout.html" %}
{% endif %}
<section class="bg py-5 py-xl-6">
  <div class="container mb-5 mb-md-6">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 text-center">
        <h2 class="mb-4 display-5">We work with</h2>
        <p class=" mb-4 mb-md-5">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque et neque id ligula mattis commodo.</p>
        <hr class="w-50 mx-auto mb-0 text-secondary">
      </div>
    </div>
  </div>

  <div class="container overflow-hidden">
    <div class="row gy-5 gy-md-6">
      <div class="col-6 col-md-3 align-self-center text-center">
        <img src="../static/images/afriwork.png">
      </div>
      <div class="col-6 col-md-3 align-self-center text-center">
        <img src="../static/images/awaqi.jpg">
      </div>
      <div class="col-6 col-md-3 align-self-center text-center">
        <img src="../static/images/luminous.png">
      </div>

    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/darkmode.js"></script>
</body>
</html>