<!DOCTYPE html>
<html>
<head>
  <title>Previous event</title>
  <link rel="icon" href="../static/images/newohana.PNG" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/css/whatwedidspecfic.css">
</head>
<body>
{% if is_logged_in %}
<nav class="navbar navbar-expand-lg bg-body-#021f16" style="background-color: #021f16;">
  <div class="container-fluid">
      <a href="{{ url_for('home') }}"><img  style="width: 60px; " src="../static/images/newohana.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('event') }}">Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('booked') }}">Mybooking</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="{{ url_for('book') }}">Book</a>
        </li>
               <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About us</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contact us</a>
        </li>
            <li class="nav-item">
          <a class="nav-link" href="{{ url_for('testimonials') }}">Testimonials</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('whatwedid') }}">Previous Events</a>
        </li>
              <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>




      </ul>

    </div>
  </div>
</nav>



{% else %}
<nav class="navbar navbar-expand-lg bg-body-#021f16" style="background-color: #021f16;">
  <div class="container-fluid">
    <a href="{{ url_for('home') }}"><img  style="width: 60px; " src="../static/images/newohana.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('event') }}">Event</a>
        </li>

                <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
        </li>
               <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About us</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contact us</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('testimonials') }}">Testimonials</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('whatwedid') }}">Previous Events</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="{{ url_for('blog') }}">Our Blogs</a>
        </li>
              <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
        </li>




      </ul>

    </div>
  </div>
</nav>

{% endif %}


{% for p in previous %}
  <h1>{{ p.name }}</h1>
  <div class="container">
    {% if p.photo4 != "null" %}
    <div >
       <iframe width="400px" height="300 px"  class="image1" style="padding-rightL 100px;" src="https://www.youtube.com/embed/KcBhJMc9Ibc?si=ZTEl0SrzkKzOccPw"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% endif %}
    {% if p.photo1 != "null" %}
    <div>
      <img src="../{{ p.photo1 }}" alt="Image 1" class="image">
    </div>
    {% endif %}
    {% if p.photo2 != "null" %}
    <div>
      <img src="../{{ p.photo2 }}" alt="Image 2" class="image">
    </div>
    {% endif %}
    {% if p.photo3 != "null" %}
    <div>
      <img src="../{{ p.photo3 }}" alt="Image 3" class="image">
    </div>
    {% endif %}

  </div>

  <div class="description">
    <p>{{ p.details }}</p>
  </div>
{% endfor %}
</body>
</html>